@{
    ViewData["Title"] = "Get Employee by ID";
}

<link rel="stylesheet" href="~/css/employeescss/getemployeebyid.css" />

<h1>Get Employee by ID</h1>

<div>
    <form id="employeeForm" class="form-inline mb-3">
        <div class="form-group">
            <label for="employeeId" class="sr-only">Enter Employee ID:</label>
            <input type="number" id="employeeId" class="form-control mr-2" placeholder="Employee ID" min="1" required />
        </div>
        <button type="submit" class="btn btn-primary">Search Employee</button>

        <!-- Button to go back to the item list -->
        <a class="btn btn-secondary" href="/Employees/Index">Back to Employee List</a>
    </form>
</div>

<!-- Include the JS script -->
<script src="~/js/employeesjs/employee.js"></script>
