@{
    ViewData["Title"] = "Search Item By ID";
}

<link rel="stylesheet" href="~/css/itemscss/getitembyid.css" />

<h2>Search Item By ID</h2>

<div>
    <form id="itemForm" class="form-inline mb-3" asp-action="GetItemById" method="get">
        <div class="form-group">
            <label for="itemId" class="sr-only">Enter Item ID:</label>
            <input type="number" id="itemId" name="id" class="form-control mr-2" placeholder="Item ID" min="1" required />
        </div>
        <button type="submit" class="btn btn-primary">Search Item</button>

        <!-- Button to go back to the item list -->
        <a asp-action="Index" class="btn btn-secondary ml-2">Back to Item List</a>
    </form>
</div>

<!-- Include the JS script -->
<script src="~/js/itemsjs/item.js"></script>

